cloudfunctions/generateOrderPdf/node_modules/
cloudfunctions/newsFetcher/node_modules
node_modules/
miniprogram/miniprogram_npm
miniprogram/node_modules
.codebuddy/rules/
.codebuddy/plans/
.codebuddy/rules/tcb/